# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Next.js build output
/.next/
/out/
/build

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Production
/dist

# Environment variables & secrets
.env*.local
.env
data/crm_config.json

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# OS metadata & editors
.DS_Store
*.pem
Thumbs.db
.vscode/
.idea/

# Vercel
.vercel
